body{
    background-image: url("../images/type.png");
    
}

.section{
    margin-top: 75px;
    padding-top: 50px;
    height: 800px;
    color: floralwhite;
    background-color: aliceblue;  
}

#welcome{
    background-image: url("../images/bracketFace.png");
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio{
    background-image: url("../images/network.png");
    background-repeat: no-repeat;
    background-position: center;
}

#contact{
    background-image: url("../images/01010.png");
    background-repeat: no-repeat;
    background-position: center;
}
